.tab {
  display: inline-block;
  list-style: none;
  padding: 2px 16px 2px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
}

.tab-active {
  border-bottom: 1px solid #4caf50;
}

.icon {
  padding-right: 4px;
}
