.container {
  display: flex;
  height: 100%;
}

.code-explorer {
  width: 20%;
  height: 100%;
  overflow: auto;
}

.code-editor {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
